/***************
768 UP STYLES
***************/


/***************
LAYOUTS
***************/

.container {
	@include container(750px); 
	padding: 0 20px;
}

#home {
	.posts, h1 {
		@include span(6 of 12 last);
		@include push(3);
	}
}


/***************
POST STYLING
***************/

.post {
	h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
		@include span(8 of 12); 
		@include push(2);
	}
}


/***************
FOOTER STYLES
***************/

.footer {
	&-links {
		float: right;
	}

	.copy {
		float: left;
	}
}


/***************
HOME STYLING
***************/

#contact {
	form {
		float: right;
		margin-left: 2em;
	}
}
