/***************
768 UP STYLES
***************/


/***************
LAYOUTS
***************/

.container {
	@include container(750px); 
	padding: 0 20px;
}

.contentContainer {
	padding-top: 0;
	position: relative;
	z-index: 1;

	&:after {
		z-index: -1;
		background: white;
		content: "";
		display: block;
		width: 120%;
		height: 5em;
		position: absolute;
		top: -2em;
		left: 0;
		-webkit-transform: skewY(-2deg);
		-ms-transform: skewY(-2deg);
		transform: skewY(-2deg);
		-webkit-transform-origin: bottom left;
		-ms-transform-origin: bottom left;
		transform-origin: bottom left;
	}
}

#home {
	.posts, .pageTitle, .pagination {
		@include span(9 of 12);
		float: none;
		margin: 0 auto 1.5em;
	}

	.pageTitle {
		margin: 2rem auto 1em;
	}
}


/***************
HEADER STYLING
***************/

.header {
	height: 15em;
	position: relative;
	padding-bottom: 2em;

	.container {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	h1 {
		font-size: 3em;
		line-height: 1;
		letter-spacing: -3px;
		padding-left: 0;
	}

	nav {
		float: left;
		clear: left;

		ul {
			margin: 0;
			li {
				display: inline;
				line-height: 3em;
				background: none;
				padding: 0 5px;
				border: none;

				a {
					color: white;
					font-size: .9em;
					text-decoration: none;
					padding: 0 .25em;

					&:hover {
						color: darken(white, 20%);
					}
				}

				&.current {
					padding-bottom: .25em;
					border-bottom: 4px solid rgba(255,255,255,.4); 
				}
			}
		}
	}
}


/***************
MENU STYLING
***************/

.js .nav-collapse {
  position: relative;
}
.js .nav-collapse.closed {
  max-height: none;
}
.nav-toggle {
  display: none;
}


/***************
POST STYLING
***************/

.post {
	h2, h3, h4, h5, h6, p, ul, ol, dl, .pageTitle {
		@include span(9 of 12); 
		float: none;
		margin: 0 auto 2rem; 
	}

	h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		margin: 1rem auto; 
	}

	.pageTitle {
		margin: 2rem auto 1em;
	}

	.postTitle {
		margin-top: 2rem;
	}

	.featuredImage {
		position: relative;
		margin-top: 2rem;

		&:before {
			background: white;
			content: "";
			display: block;
			width: 120%;
			height: 4em;
			position: absolute;
			top: -2em;
			left: 0;
			-webkit-transform: skewY(-2deg);
			-ms-transform: skewY(-2deg);
			transform: skewY(-2deg);
			-webkit-transform-origin: bottom left;
			-ms-transform-origin: bottom left;
			transform-origin: bottom left;
		}

	}
}


/***************
POST NAV STYLING
***************/

#post-nav {

	.prev, .next {
		width: 50%;
	}

	.prev {
		float: left;
		text-align: left;
	}

	.next {
		text-align: right;
		float: right;
	}
}


/***************
FOOTER STYLES
***************/

.footer {
	&-links {
		float: right;
	}

	.copy {
		float: left;
	}

	.container {
		padding: 1rem 0;
	}
}


/***************
CONTACT PAGE STYLING
***************/

.contactContent {
	@include span(6 of 12);
}

#contact {
	form {
		@include span(6 of 12 last);
	}
}
