/***************
768 UP STYLES
***************/


/***************
FOOTER STYLES
***************/

.footer {
	&-links {
		float: right;
	}

	.copy {
		float: left;
	}
}


/***************
HOME STYLING
***************/

#contact {
	form {
		float: right;
		margin-left: 2em;
	}
}
