/***************
MOBILE UP STYLES
***************/

// A better box-sizing practice http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: $serif; 
	line-height: 1.75;  
	font-size: 112.5%;
	color: $black;

	p , ul {
		margin: 0 0 1.5em;
	}
}

.nolist{
	list-style:none;
	padding-left:0;
	margin-left:0;
}


/***************
LINKS
***************/

a {
	color: $link-color;

	&:hover {
		color: darken($link-color, 15%);
	}
}


/***************
LAYOUTS
***************/

.container {
	@include container(610px); 
	padding: 0 20px;
}


/***************
LAYOUTS
***************/

#home {
	padding-top: 2em;
}

/***************
HEADER
***************/

.header {
	background-color: $black;
	color: white;
	padding: 0;
	overflow: hidden;
	height: 3em;

	h1 {
		margin: 0;
		float: left;
		font-size: 1em;
		line-height: 3em;
		font-family: $sans-serif;
		font-weight: normal;

		a {
			color: white;
			text-decoration: none;
		}
	}

	nav {
		float: right;
		ul {
			margin: 0;
			li {
				display: inline;
				line-height: 3em;

				a {
					color: white;
					font-size: .9em;
					text-decoration: none;
					padding: 0 .25em;

					&:hover {
						color: darken(white, 20%);
					}
				}
			}
		}
	}
}


/***************
POST STYLING
***************/

.post {

	.postTitle {
		text-align: center;
		margin-top: 1em;
	}

	blockquote {
		clear: both;
		margin: 2em 0;
		padding: 0 0 0 1em;
		line-height: 1.8;
	}

	.meta {
		text-align: center;
		color: lighten(black, 50%);
		font-style: italic;
	}
}


/***************
FOOTER STYLING
***************/

.footer {
	text-align: center;
	padding: 2em 0;

	.container {
		border-top: 4px solid darken(white, 15%);
		padding-top: .5em;
	}

	.copy, .footer-links {
		font-size: .8em; 
	}

	&-links {
		ul {
			li {
				display: inline;
			}
		}
	}
}


/***************
POST LIST STYLING
***************/

.posts {		
	li {
		margin-bottom: 3em;

		.date {
			color: lighten(black, 50%);
			font-style: italic;
		}

		h3 {
			margin: 0;
		}
	}
}


/***************
MEDIA STYLING
***************/

img,video,audio,iframe,object{
	max-width:100%;
}


/***************
FIGURE STYLING
***************/

figure {
	figcaption {
		text-align: center;
		font-size: .9em;
		font-style: italic;
		color: lighten($black, 10%); 
	}
}

