---
layout: default
comments: true
tldr: true
eta: true
toc: true
---
<div class="post">
  {% if page.image %}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.image }}" alt="" />
      </div>
  {% endif %}
  <h1 class="postTitle">{{ page.title }}</h1>
  <p class="meta"><span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>

  {% if page.tags %}
    {% include tags.html tags=page.tags %}
  {% endif %}

  {% if page.intro %}
    {% include intro.html %}
  {% endif %}
  
  {% if page.toc %}
    {% capture toc %}{% include toc.md %}{% endcapture %}
    {{ toc | markdownify }}
  {% endif %}
  
  <div>{{ content }}</div>

  {% include disqus.html %}
  </div>
  
</div>