<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include head.html %}

<body>

   {% include header.html %}

   <div class="content">
      <div class="container">
         {{ content }}
      </div>
   </div><!-- end .content -->

   <!-- Katex -->
   <script>
        var scripts = document.getElementsByTagName("script");
        for (var i = 0; i < scripts.length; i++) {
            var script = scripts[i];
            if (script.type.match(/^math\/tex/)) {
                var text = script.text === "" ? script.innerHTML : script.text;
                var options = script.type.match(/mode\s*=\s*display/) ?
                              {displayMode: true} : {};
                script.insertAdjacentHTML("beforebegin",
                                          katex.renderToString(text, options));
            }
        }
    </script>

   {% include footer.html %}
   {% include scripts.html %}

</body>

</html>
