---
layout: default
---
<article class="post">
  {%- if page.image -%}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | append: page.image }}" alt="" />
      </div>
  {%- endif -%}
  <header>
    <h1 class="postTitle">{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>
  </header>

  {{ content }}

  <!-- POST NAVIGATION -->
  <footer class="postNav clearfix">
    {%- if page.previous.url -%} 
      <a class="prev{% if page.previous.image %} image{% endif %}" href="{{ page.previous.url }}"><span>&laquo;&nbsp;{{ page.previous.title }}</span>
      {%- if page.previous.image -%} 
        <img src="{{ '/assets/img/' |  append: page.previous.image }}" alt="">
      {%- endif -%}
    </a>
    {%- endif -%}  
    {%- if page.next.url -%}  
      <a class="next{% if page.next.image %} image{% endif %}" href="{{ page.next.url }}"><span>{{ page.next.title }}&nbsp;&raquo;</span>
      {%- if page.next.image -%} 
        <img src="{{ '/assets/img/' | append: page.next.image }}" alt="">
      {%- endif -%} 
      </a>
    {%- endif -%} 
  </footer>
</article>

{%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
{%- endif -%}
