---
layout: default
---
<div class="post">
	{% if page.image %}
		<div class="featuredImage">
	  		<img src="{{ site.url }}/assets/img/{{ page.image }}" alt="" />
	  	</div>
	{% endif %}
	<h1 class="postTitle">{{ page.title }}</h1>
	<p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>
	
	{{ content }}

	<!-- POST NAVIGATION -->
	<div class="postNav clearfix">
	  {% if page.previous.url %} 
	    <a class="prev{% if page.previous.image %} image{% endif %}" href="{{ site.url }}{{page.previous.url}}"><span>&laquo; {{page.previous.title}}</span>
	    {% if page.previous.image %} 
	    	<img src="{{ site.url }}/assets/img/{{ page.previous.image }}" alt="">
	    {% endif %}
		</a>
	  {% endif %}  
	  {% if page.next.url %}  
	    <a class="next{% if page.next.image %} image{% endif %}" href="{{ site.url }}{{page.next.url}}"><span>{{page.next.title}} &raquo;</span>
	    {% if page.next.image %} 
	    	<img src="{{ site.url }}/assets/img/{{ page.next.image }}" alt="">
	  	{% endif %} 
	  	</a>
	  {% endif %} 
	</div>
</div>
